<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<mvc:view-controller path="/main" view-name="main" />
	<mvc:view-controller path="/baseball" view-name="/game/baseball"/>
	<mvc:view-controller path="/test" view-name="/test/progressBar"/>
	<mvc:view-controller path="/rank" view-name="/game/rank"/>
	<mvc:view-controller path="/chat" view-name="/chat/chat"/>
	<mvc:view-controller path="/tetris" view-name="/game/tetris"/>
	<mvc:view-controller path="/tetrisFight" view-name="/game/tetrisFight"/>


	<bean class="controller.RegisterController">
		<property name="memberRegisterService" ref="memberRegSvc" />
	</bean>

	<bean class="survey.SurveyController">
	</bean>

	<bean class="controller.LoginController">
		<property name="authService" ref="authService" />
	</bean>

	<bean class="controller.LogoutController" />

	<bean class="controller.ChangePwdController">
		<property name="changePasswordService" ref="changePwdSvc" />
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/edit/**" />
			<mvc:mapping path="/game/**" />
			<mvc:mapping path="/baseball" />
			<bean class="interceptor.AuthCheckInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<bean class="controller.MemberListController">
		<property name="memberDao" ref="memberDao" />
	</bean>
	
	<bean class="controller.MemberDetailController">
		<property name="memberDao" ref="memberDao" />
	</bean>

	<bean class="controller.ChangePntLvlController">
		<property name="changePointLevelService" ref="changePntLvlSvc" />
		<property name="authService" ref="authService" />
	</bean>

	<bean class="controller.RankController">
		<property name="memberDao" ref="memberDao" />
	</bean>

	<bean class="controller.TestController" />

	<bean class="socket.BroadSocket" />

	<bean class="controller.TetrisFightController">
	</bean>

</beans>